.blog-pages{
	margin:0;
}
.blog-pages h2{
	color: #565656;
}
.blog-pages .tips-articles__box{
	width: 25%;
	padding: 10px 5px;
}
.blog-pages .tips-articles__block {
    margin: 0px -5px;
}
.blog-pages .tips-articles__text a{
	font-size: 16px;
	font-weight: bold;
}
.blog-pages .tips-articles__text p{
	font-size: 12px;
	padding-right: 30px;
	line-height: 1.6;
}
.blog-pages .tips-articles__href a{
	font-size: 12px;
}
.blog-pages .tips-articles__href p{
	font-size: 12px;

}
.blog-single__main .tips-articles__href {
    margin-top: 0;
    border-top: 1px transparent;
    padding: 15px 0;
}

.blog-single-pages{
	margin: 30px 0 0;
}
.blog-single__left{
	max-width: 880px;
	width: 100%;
}
.blog-single_img{
	margin-top: 8px;
}
.blog-single__text{
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #61727D;
    margin-top: 15px;
}
.blog-single__dubscribe{
	max-width: 366px;
	width: 100%;
	margin-left: 20px;
}

.blog-single__dubscribe h2{
    font: 21px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	color: #001935;
	line-height: 1.3;

}
.blog-single-pages .blog-pages{
	margin-bottom: 0
}
.single-dubscribe__item{
	margin-top: 28px;
}
.single-dubscribe__item ul li + li{
	margin-top: 20px;
}
.single-dubscribe__item ul li a{
	width: 100%;
	height: 67px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 16px;
	background: #ffffff;
	border: 1px solid #EEEEEE;
}
.single-dubscribe__name{
	width: 40%;
	margin-left: 25px;

}
.single-dubscribe__name strong{
    font: 21px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	font-weight: bold;
	color: #466CA9;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: left;
	display: block;
}

.single-dubscribe__like{
	width: 30%;
}
.single-dubscribe__like span{
    font: 18px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: normal;
	color: #466CA9;
	line-height: 1.3;


}
.single-dubscribe__item ul li:nth-child(2) .single-dubscribe__name strong ,.single-dubscribe__item ul li:nth-child(2)  .single-dubscribe__like span{
	color: #20B5E6;
}
.single-dubscribe__item ul li:nth-child(3) .single-dubscribe__name strong ,.single-dubscribe__item ul li:nth-child(3)  .single-dubscribe__like span{
	color: #D92C20;
}
.single-dubscribe__item ul li:nth-child(4) .single-dubscribe__name strong ,.single-dubscribe__item ul li:nth-child(4)  .single-dubscribe__like span{
	color: #484747;
}
.single-dubscribe__item ul li:nth-child(5) .single-dubscribe__name strong ,.single-dubscribe__item ul li:nth-child(5)  .single-dubscribe__like span{
	color: #137AA2;
}





@media (max-width: 1169.98px){
	.blog-pages .tips-articles__box{
		width: 33.333333%;
		padding: 10px 5px;
	}
	.blog-single__dubscribe {
	    max-width: 338px;
	}

}
@media (max-width: 991.98px){
	.blog-single__main{
		flex-direction: column;
		align-items: flex-start;
	}
	.blog-single__dubscribe {
	    max-width: 348px;
	    margin-left: 0;
	    margin-top: 25px;
	}

}
@media (max-width: 767.98px){
	.blog-pages .tips-articles__box{
		width: 50%;
		padding: 10px 5px;
	}
}
@media (max-width: 575.98px){
	.blog-pages .tips-articles__box{
		width: 100%;
		padding: 10px 5px;
	}
	.blog-single__dubscribe h2{
		font-size: 18px;
	}
	.single-dubscribe__name strong{
		font-size: 18px;
	}
	.single-dubscribe__name {
	    margin-left: 0px;
	}
	.single-dubscribe__like {
	    width: 35%;
	}
	.single-dubscribe__item {
    margin-top: 20px;
}
}
