.for-contacts__map{
	width: 100%;
	height: 498px;
}
.contact-us{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contact-us__title h2{
    font: 30px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	color: #042a3d;
	line-height: 1.3;
	font-weight: 700;
}
.contact-us__info{
	margin-top: 20px;
}
.contact-us__href ul{
	display: flex;
	align-items: center;
}
.contact-us__href ul li{
	display: flex;
	align-items: center;
    font: 20px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	color: #8593A9;
	line-height: 1.3;

}
.contact-us__href ul li + li{
	margin-left: 35px;
}
.contact-us__href ul li img{
	margin-right: 12px;
}
.contact-us__href ul li a{
    font: 20px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	color: #8593A9;
	line-height: 1.3;

}
.contact-us__icon ul{
	display: flex;
	align-items: center;
}
.contact-us__icon ul li + li{
	margin-left: 15px;
}

.contact-us__block{
	width: 100%;
    box-shadow: 0 3px 11px rgba(0,95,162,0.16);
    background: #ffffff;
    margin-top: 20px;
    padding: 30px 40px;
}
.contact-us__inp{
	max-width: 565px;
	width: 100%;
}
.contact-us__cnt .mdl-textfield__label {
	color: #686868;
	font: 18px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    left: 0;
    top: 37px;
    padding-left: 15px;
}
.contact-us__inp  input{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid rgba(213,207,207,0.59);
    color: #686868;
    font-weight: 700;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    margin-top: 20px;
}
.contact-us__inp  input::placeholder{
	color: #686868;
	font-weight: 700;
    overflow: visible!important;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.err-text{
    font: 12px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;

}
.contact-us__textarea{
	width: 100%;
    margin-top: 20px;
}
.contact-us__textarea .mdl-textfield__label {
	color: #686868;
	font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    left: 0;
    top: 37px;
    padding-left: 15px;
}
.contact-us__textarea  textarea{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 44px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid rgba(213,207,207,0.59);
    padding: 0 15px;
    padding-top: 10px;
    color: #686868;
    font-weight: 700;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(33,150,243);
    font-size: 16px;
    top: -5px;
    visibility: visible;
}
.contact-us__textarea label textarea::placeholder{
	color: #686868;
	font-weight: 700;
	font: 18px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.contact-us__btn{
	margin-top: 20px;

}
.contact-us__btn button{
	width: 155px;
	height: 54px;
	background: unset;
	border: 2px solid #FE980F;
	color: #FE980F;
	font-weight: 500;
	font: 18px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	transition: 0.4s;
}
.contact-us__btn button:hover{
	transition: 0.4s;
	background: white!important;
	color: #FE980F!important;
    border: 2px solid #FE980F!important;


}


@media (max-width: 1399.98px) {
	.contact-us__inp {
		max-width: 545px;
	}
}
@media (max-width: 1299.98px) {
	.contact-us__inp {
		max-width: 505px;
	}
	.contact-us__block {
		padding: 30px 30px;
	}
	.contact-us__textarea label textarea {
		min-height: 290px;
	}
	.contact-us__href ul li{
		font-size: 17px;
	}
	.contact-us__href ul li a{
		font-size: 17px;

	}
	.contact-us__href ul li + li {
		margin-left: 20px;
	}


}
@media (max-width: 1169.98px){
	.contact-us__inp {
		max-width: 415px;
	}
	.contact-us__textarea label textarea {
		min-height: 260px;
	}
	.contact-us__title h2{
		font-size: 27px;
	}
	.contact-us__info {
		flex-direction: column;
		align-items: flex-end;
	}
	.contact-us__icon{
		margin-top: 15px;
	}
}
@media (max-width: 991.98px){
	.contact-us__inp {
		max-width: 315px;
	}
	.contact-us__textarea label textarea {
		min-height: 230px;
	}
	.contact-us__href ul{
		flex-wrap: wrap;
	}
	.contact-us__info{
		margin-top: 0;
	}
	.contact-us__href ul li{
		margin-top: 10px;
	}
	.contact-us__href ul li + li {
		margin-left: 8px;
	}
}
@media (max-width: 767.98px){
	.contact-us__inp {
		max-width: 100%;
	}
	.contact-us__block {
		padding: 25px 25px;
	}
	.for-contacts__map {
		height: 370px;
	}
}
@media (max-width: 575.98px){
	.contact-us__title h2 {
		font-size: 22px;
	}
	.contact-us__href ul li {
		font-size: 15px;
	}
	.contact-us__href ul li a {
		font-size: 15px;
	}
	.contact-us__icon {
		margin: 15px auto 0;
	}
	.contact-us__block {
		padding: 20px 15px;
	}
	.contact-us__inp label input {
		height: 50px;
	}
	.contact-us__textarea label textarea {
		min-height: 210px;
	}
	.contact-us__btn button {
		width: 150px;
		height: 50px;
	}

}
