.error__main{
	margin: 70px 0;
}
.error__block{
	max-width: 432px;
	width: 100%;
	margin: 0 auto;
}
.error__text h3{
    font: 28px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1;
    text-align: right;
    color: #1F2535;
}
.error__text strong{
    font: 228px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #1F2535;
    display: block;
    text-align: center;
}
.error__text p{
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    color: #1F2535;
    text-align: center;
}
.error__href{
	margin-top: 30px;
}
.error__href a{
	max-width: 298px;
	width: 100%;
	padding: 10px 10px;
	color: #FFFFFF;
	background: #26AF61;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.error__href a img{
	margin-right: 10px;
}



@media (max-width: 767.98px){
	.error__text strong{
		font-size: 180px;
	}
	.error__text h3{
		font-size: 25px;
	}
}
@media (max-width: 575.98px){
	.error__text strong {
	    font-size: 120px;
	}
	
	.error__text h3 {
	    font-size: 19px;
	}
	.error__text p{
		font-size: 15px;
	}
	.error__href a {
		font-size: 16px;

    }
}