.search_container {
    max-height: calc(100vh - 340px);
    overflow: auto;
}

.select2-search__field {
    display: none;
}

.search_container::-webkit-scrollbar {
    width: 6px;
}

.search_container::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    outline: 1px solid #C1C1C1;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.sale-apartment__info:not(.verticalCard) .apartment-info__text table td {
    display: contents !important;
}

.sale-apartment__info:not(.verticalCard) .apartment-info__text table tr {
    display: contents !important;
}

.sale-apartment__info:not(.verticalCard) .apartment-info__text tbody {
    display: flex;
    flex-wrap: wrap;
}

.sale-apartment__info:not(.verticalCard) {
    padding: 0 10px;
}
.sale-apartment__info:not(.verticalCard) .best-offers__img{
    background: #f7f7f7;
    max-height: 192.61px;
    display: block;
}
.sale-apartment__info:not(.verticalCard) {
    padding: 0 10px;
}
.sale-apartment__info:not(.verticalCard) .best-offers__box a {
    min-height: unset;
}
.sale-apartment__info:not(.verticalCard) .best-offers__block{
    padding: 0;
    display: flex;
    /*max-height: 192px;*/
}
.sale-apartment__info:not(.verticalCard) .best-offers__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 188.61px;
    overflow: auto;
}
.sale-apartment__info:not(.verticalCard) .best-offers__box::-webkit-scrollbar {
    width: 6px;
}
.sale-apartment__info:not(.verticalCard) .best-offers__box::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    outline: 1px solid #C1C1C1;
}
.sale-apartment__info:not(.verticalCard) .dotess{
    display: none!important;
}
.verticalCard .delimeter, .verticalCard .best-offers__info .opt .delimeter {
    display: none !important;
}
.sale-apartment__info:not(.verticalCard) tr{
    display: inline-block!important;
    width: fit-content!important;
}
.sale-apartment__info:not(.verticalCard) tbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.verticalCard .banner_block {
    padding: 0 10px;
}
.banner_block img {
    filter: brightness(0.5);

    transition: .3s;
}
.banner_block:hover img {
    filter: brightness(1);

    transition: .3s;
}
/* The container */
.new_build {
    display: block;
    position: relative;
    padding-right: 30px;
    margin-bottom: 3px;
    cursor: pointer;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    color: #042a3d;
}
/* Hide the browser's default checkbox */
.new_build input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    right: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #FE980F;

}
/* On mouse-over, add a grey background color */
.new_build:hover input ~ .checkmark {
    background-color: #FE980F4f;
}
/* When the checkbox is checked, add a blue background */
.new_build input:checked ~ .checkmark {
    background-color: #FE980F;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.new_build input:checked ~ .checkmark:after {
    display: block;
}
.select2-selection.select2-selection--multiple:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #888888;
    cursor: pointer;
}
.select2-selection.select2-selection--multiple,.select2-search__field{
    cursor: pointer;
}
/* Style the checkmark/indicator */
.new_build .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.new_building {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 11px 0;
}

.verticalCard .best-offers__block {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.verticalCard .apartment-info__text .opt span {
    display: inline !important;
}

.verticalCard .items {
    margin-bottom: 20px;
    margin-top: 0 !important;
}

.verticalCard .items {
    width: 33.3333%;
    min-width: 280px;
    padding: 0 10px;
}

.verticalCard {
    display: flex;
    flex-wrap: wrap;
}

.product-list__rent {
    min-width: 320px;

}

.rendered {
    display: flex;
    justify-content: space-between;
}

.rendered div {
    width: 49%;
}

.rendered .select2.select2-container:first-child {
    margin-right: 30px;
}

.added {
    margin-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #757575;
    line-height: 20px;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    margin-top: 8px;
}

.select2-container {
    width: 100% !important;
}

.product-rent__info label {
    color: #565656;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    display: block;
    padding: 5px 0px;
}

.filters_cont {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 9px;
}

.select2-dropdown {
    border: 1px solid #ebe5e5;
}

.select2-selection.select2-selection--single {
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 0px;
    cursor: text;
    /*color: #e6e5e5;*/
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    padding: 3px 12px;
    height: 100%;
    min-height: 39px;
}

.product-rent__info label {
    color: #565656;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    display: block;
    padding: 5px 0px;
}

/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: #00152c;*/
/*    line-height: 28px;*/
/*    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;*/
/*    margin-top: 5px;*/
/*}*/
.select2-container--default .select2-results > .select2-results__options {
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
}



.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #757575;
    line-height: 20px;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    margin-top: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 80% !important;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    height: 7px;
    right: 0;
    transform: translateX(-50%);
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    /*top: 50%;*/
    width: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 7px 7px 7px;
}
.product-rent__info {
    width: 25%;
    min-width: 254px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #e6e5e5;
    border-radius: 0px;
    cursor: text;
    /*color: #e6e5e5;*/
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    padding: 3px 12px;
    height: 100%;
    min-height: 39px;
}

.select2-selection__rendered {
    display: flex !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 10px !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid lightgrey 1px !important;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ebe5e5;
    cursor: default;
    margin-right: 5px;
    margin-top: 5px;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    padding: 0 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    color: #00152c;
}

.select2-selection.select2-selection--multiple {
    max-height: 175px !important;
    overflow: auto !important;
}

.select2-selection.select2-selection--multiple::-webkit-scrollbar {
    width: 6px;
}

.select2-selection.select2-selection--multiple::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)
}

.select2-selection.select2-selection--multiple::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    outline: 1px solid #C1C1C1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #00152c !important;
    font-weight: lighter;
}

.select2-results__options--nested > li:hover {
    background-color: #FE980F !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #A3ABB1 !important;

}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #A3ABB1 !important;
    color: white !important;
}

.select2-results__options::-webkit-scrollbar {
    width: 6px;
}

.select2-results__options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    outline: 1px solid #C1C1C1;
}

.select2-results__option[aria-disabled = true] {
    display: none;
}

.product-rent__info {
    width: 100% !important;
    padding: 0 10px;
}

.select2-container {
    z-index: 2222222222222222;
}
.pagination_buttons ul {
    display: flex;
}

.pagination_buttons {
    justify-content: flex-end;
    display: flex;
    padding: 7px;
}

.pagination_buttons ul li {
    color: #042a3d;
    border: 1px solid #e6e5e5;
    /* padding: 2px 6px; */
    margin: 2px;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_buttons ul li:first-child span, .pagination_buttons ul li:first-child a, .pagination_buttons ul li:last-child span, .pagination_buttons ul li:last-child a {
    /*padding: 0px 6px;*/
    margin-top: -5px;
}

.pagination_buttons ul li.active, .pagination_buttons ul li:hover {
    color: white !important;
    background: #042a3d !important;
    border: 1px solid #042a3d;
    cursor: pointer;
}

.pagination_buttons ul li:hover a {
    color: #ffffff !important;
}

.pagination_buttons ul li a {
    color: #042a3d !important;
}
