

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'SegoeUI-Italic';
    src: url('../fonts/SegoeUI-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}



@font-face {
    font-family: 'HelveticaBlack';
    src: url('../fonts/HelveticaBlack.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'HelveticaItalic';
    src: url('../fonts/HelveticaItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/HelveticaLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/HelveticaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaMedium';
    src: url('../fonts/HelveticaMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}



@font-face {
    font-family: 'HelveticaNeueCyr-Black';
    src: url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Italic';
    src: url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    src: url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-style: normal;
}



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}
