footer{
	background: #042a3d;
	margin-top: 40px;
}
.footer-min{
	padding: 51px 0 24px;
}
.footer-block{
	width: 100%;
}
.footer-title{
	color: #cd8404;
    font: 18px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    margin-bottom: 25px;
}
.footer-street ul {
	margin-top: 15px;
}
.footer-street ul li{
	display: flex;
	align-items: flex-start;
	color: #FFFFFF;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    margin-top: 13px;
    transition: 0.3s;
}
.footer-street ul li:hover{
	color: #26AF61;
    transition: 0.3s;
}

.footer-street ul li + li{
	margin-top: 13px;
}
.footer-street ul li img{
	margin-right: 10px;
}
.footer-street ul li a{
	color: #FFFFFF;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    transition: 0.3s;

}
.footer-street ul li a:hover{
	color: #cd8404;
    transition: 0.3s;
}
.footer-href ul + ul{
	margin-left: 15px;
}
.footer-href ul li + li{
	margin-top: 13px;
}
.footer-href ul li a{
	color: #FFFFFF;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    transition: 0.3s;
}
.footer-href ul li a:hover{
	color: #cd8404;
    transition: 0.3s;

}
.footer-form{
	max-width: 257px;
	width: 100%;
}
.footer-form__info{
	margin-top: 15px;
	width: 100%;
	position: relative;
}
.footer-form__inp{
	width: 100%;
}
.footer-form__inp label{
	position: relative;
	width: 100%;
}
.footer-form__inp label input{
	border-radius: 3px;
	width: 100%;
	background: #FFFFFF;
	padding-left: 15px;
	height: 50px;
	color: #00152C;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.footer-form__inp input::placeholder{
	color: #00152C;
    overflow: visible!important;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.footer-form-btn{
	position: absolute;
	top: 0;
	right: 0;

}
.footer-form-btn button{
	background: #cd8404;
	width: 50px;
	height: 50px;
	border-radius: 0 3px 3px 0;

}
.footer-icon {
	margin-top: 20px;
}
.footer-icon ul{
	display: flex;
	align-items: center;
}
.footer-icon ul li + li{
	margin-left: 15px;
}
.footer-icon ul li a{
	transition: 0.3s;
}
.footer-icon ul li a:hover{
	transition: 0.3s;

	filter: brightness(0) invert(1);
}
.footer-last-block{
	margin-top: 25px;
}
.footer-logo{
	width: 110px;
}
.footer-last-text p{
    font: 12px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	margin-left: 50px;
	line-height: 1.3;
	color: #FFFFFF;
}
.footer-name a{
    font: 12px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	line-height: 1.3;
	color: #FFFFFF;
}
.footer-name p{
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
	line-height: 1.3;
	color: #FFFFFF;
	margin-left: 5px;
}


@media (max-width: 1169.98px){

	.footer-block{
		flex-wrap: wrap;
	}

}
@media (max-width: 991.98px){
	.footer-form {
		margin-top: 25px;
	}
	.footer-street{
		width: 100%;
	}
	.footer-href{
		margin-top: 20px;
	}
	.footer-last-text{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-last-text p {
		margin-left: 0;
		margin-top: 10px;

	}
	.footer-last-block {
		margin-top: 25px;
		align-items: flex-end;
	}

}



@media (max-width: 767.98px){


	.footer-min {
		padding: 30px 0 24px;
	}
	.footer-last-block {
		margin-top: 25px;
		align-items: flex-start;
		flex-direction: column;
	}
	.footer-logo {
		margin: 0 ;
	}
	.footer-last-text p {
		text-align: left;
	}


	.footer-block {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-title{
		text-align: left;
	}
	.footer-street ul li {
		justify-content: flex-start;
	}
	.footer-street ul li br{
		display: none;
	}
	.footer-href ul li {
		text-align: left;
	}
	.footer-href__last{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-href ul + ul {
		margin-left: 0;
		margin-top: 10px;
	}
	.footer-href ul li + li {
		margin-top: 8px;
	}
	.footer-icon ul {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}


}
