header{
    background: #ffffff;
}
.header-min{
    padding: 15px 0;
    position: relative;
}

.sidenav ul {
    display: flex;
    align-items: center;
}
.sidenav ul li{
    margin: 0 10px;
}
.sidenav ul li a {
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #737373;
    transition: 0.4s;
}
.sidenav ul li a:hover,.header-language ul li a:hover{
    color:  #cd8304!important;;
}
.open-menu {
    display: none;
    width: 30px;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.open-menu span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #FE980F;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.close-menu {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    cursor: pointer;

}

.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
}

.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}

.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)

}

.anim-menu {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.body_fix .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    left: 0;
}

.body_fix {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.body_fix .close-menu {
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 999999;
    display: block;
    cursor: pointer;

}


.header-language ul {
    display: flex;
    align-items: center;
}
.header-language ul li{
    padding: 0 3px;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    color: #737373;

}
@media (max-width: 1439.98px){
.sidenav ul li a{
    font-size: 15px;
}

}


@media (max-width: 1169.98px){
    .sidenav ul li {
        margin: 0 5px;
    }
    .sidenav ul li a {
        font-size: 17px;
    }
}


@media (max-width: 991.98px) {

.header-language{
    margin-right: 50px;
}
.open-menu span:nth-child(2), .open-menu span:nth-child(3) {
    top: 10px;
}
.open-menu span:last-child {
    top: 20px;
}
.sidenav ul li a:hover{
    color: white;
}
.open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
}
.menu-cnt {
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding: 15px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #FE980F;
}
.menu-cnt ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.sidenav ul {
    margin-top: 60px;
    margin-left: 0;
}
.sidenav ul li a {
    padding-right: 15px;
    padding-left: 0;
    color: #ffffff;
}
.sidenav > ul > li {
    margin: 10px 5px !important;
    z-index: 9999;
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
    height: auto;
    border-left: none;
}

}

@media (max-width: 575.98px){
    .header-logo{
        width: 108px;
    }
    .header-language {
        margin-right: 45px;
    }
    .header-language ul li {
        font-size: 14px;
    }
}
