.real-estate-sale__fon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*min-height: 589px;*/
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.real-estate-sale__fon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.real-estate-sale__min {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 999;
}

.real-estate-sale__title {
    max-width: 650px;
    width: 100%;
    margin: 20px auto;
}
.error-notify{
    background-color: #ff000094;
    position: fixed;
    right: 0;
    display: flex;
    top: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 50px;
}
.success-notify{
    background-color: #00962e94;
    position: fixed;
    right: 0;
    display: flex;
    top: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 50px;
}
.real-estate-sale__title h1 {
    font: 26px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.4;
    color: #FFFFFF;
    text-align: center;
}

.real-estate-sale__block {
    background: rgba(235, 229, 299, 0.65);
    max-width: 845px;
    width: 100%;
    margin: 30px auto 50px;
}
.home_service_card{
    width: 33.33333%;
    min-width: 270px;
    padding: 10px;
}
.home_service_card_text h2{
    color: white;
    font: 20px Segoe UI, HelveticaNeueCyr-Bold, Helvetica, Roboto, sans-serif;
    font-weight: bold;
}
.home_service_card_text{
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    background-size: 100% calc( 100% - 4px );
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px
}
.real-sale__form {
    padding: 34px 32px;
}

.real-sale__sel {
    max-width: 355px;
    width: 100%;
}

.real-sale__sel select {
    width: 100%;

}

.real-sale__sel .jq-selectbox {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 57px;
    position: relative;

}

.real-sale__sel .jq-selectbox:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 15px;
    border-top: 1px solid #8593A9;
    border-left: 1px solid #8593A9;
    border-right: 1px transparent;
    border-bottom: 1px transparent;
    transform: rotate(-135deg);
    z-index: -1;
    width: 11px;
    height: 11px;
}

.real-sale__sel .jq-selectbox__select-text {
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #737373;
    padding: 16px 20px;


}
@media (max-width: 628px) {
    .best-offers .slick-slide img {
        display: inline-block !important;
    }
}
.real-sale__sel .jq-selectbox__dropdown {
    left: 0;
    top: 50px;
    width: 100% !important;
}

.real-sale__sel .jq-selectbox li {
    padding: 10px 20px 10px;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #737373;
}

.real-sale__sel .jq-selectbox li:hover {
    background-color: #A3ABB1;
    color: #ffffff;

}

.real-sale__sel .jq-selectbox li.selected {
    color: #ffffff;
}

.real-sale__btn {
    max-width: 204px;
    width: 100%;
}

.real-sale__btn button {
    width: 100%;
    background: #FE980F;
    height: 57px;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #ffffff;

}

.call-us-free {
    margin: 35px 0;
    background: #fe980fd1;
    padding: 5px 28px;
}

.call-us-free h2 {
    font: 20px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.3;
    text-align: center;
}

.call-us-free__href {
    margin-top: 5px;
}

.call-us-free__href ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-us-free__href ul li {
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.3;
    margin-right: 10px;

}

.call-us-free__href ul li a {
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.3;
}

.best-offers {
    /*margin-top: 40px;*/
}

.best-offers__title {
    margin-top: 15px;
}

.bbest h2 {
    font: 26px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #FE980F;
    line-height: 1.3;
}

.best-offers__title p {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #465660;
    line-height: 1.3;
    margin-top: 15px;
}

.best-offers-slider {
    margin: 15px -12px;
}

.best-offers-slider-box {
    padding: 12px;
    height: auto;
}

.best-offers__block {
    width: 100%;
    height: 100%;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);
    padding-bottom: 20px;
    background: #ffffff;
    transition: 0.4s;
}

.best-offers__block:hover {
    transition: 0.4s;
    box-shadow: 5px 5px 20px rgba(0, 95, 162, 0.16);
}

.best-offers__block:hover .best-offers__img img,.apartment-info__cnt:hover  .best-offers__img img{
    opacity: 1;
    transition: 0.4s;

}

.best-offers__img {
    width: 100%;
    position: relative;
    background: #F7F7F7;
    max-height: 188.61px;
}

.best-offers__img img {
    width: 100%;
    opacity: 0.7;
    transition: 0.4s;


}

.urgently {
    position: absolute;
    top: 11px;
    left: 11px;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.3;
}

.urgently .urgent{
    padding: 5px 10px;
    background: #FF6464;
}
.urgently .sold{
    padding: 5px 10px;
    background: #cc8200;
}
.best-offers__box {
    padding: 11px 20px;
}

.best-offers__box a {
    color: #222222;
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 38px;

}
.best-offers__block:hover  a {
    color: #cc8200!important;
}
.select2-selection{
    cursor: pointer!important;
}
.apartment-info__cnt:hover  a {
    color: #cc8200!important;
}
.best-offers__box p {
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #434141;
    line-height: 1.3;
    margin-top: 10px;
    position: relative;
}

.best-offers__box p > i {
    color: #cc8200;
    font-size: 16px;
    vertical-align: bottom;
}

/*.best-offers__box p:before ,.apartment-info__title p:before{*/
/*    content: "";*/
/*    background-image: url('../img/Group.png');*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    width: 20px;*/
/*    height: 25px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.best-offers__box strong {
    color: #FE980F;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    display: block;
    margin: 12px 0;
}

.best-offers__info {
    margin-top: 10px;
}

.best-offers__info table td,.apartment-info__text table td {
    padding: 3px 0;
    width: 50%;
}

.best-offers__info table tr,.apartment-info__text  table tr {
    display: inline-flex;
    width: 100%;
}

.best-offers__info table,.best-offers__info tbody,.apartment-info__text table,.apartment-info__text tbody {
    display: block;
    width: 100%;
}
.best-offers__info table td div,.apartment-info__text  table td div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}
.best-offers__info table td div sup,.apartment-info__text  table td div sup{
    font-size: 9px;
    vertical-align: super;
}
.best-offers__info table td,.apartment-info__text  table td {
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    line-height: 1.3;
    color: #484747;
    position: relative;
    vertical-align: top;
}

.best-offers__info table td .dotes,.apartment-info__text  table td .dotes {
    display: inline-block;
    width: 95%;
    border-bottom: 2px dotted;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 0;
}

.best-offers__info table td .opt,.apartment-info__text  table td .opt {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    background: #ffffff;
    position: relative;
    z-index: 4;
    display: block;
}

.best-offers__info ul li:nth-child(odd) {
    width: 35%;
    min-width: 90px;
}

.best-offers__info ul li strong {
    font-weight: bold;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #222222;
    margin: 0;


}

.best-offers__heart a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_heart {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.active-heart a {
    background: #FE980F !important;
}

.active-heart a svg path {
    fill: #ffffff;
}

.best-offers-slider .slick-next {
    right: 15px;
}

.best-offers-slider .slick-prev {
    left: auto;
    right: 60px;
}

.best-offers-slider .slick-prev, .best-offers-slider .slick-next {
    width: 35px;
    height: 35px;
    top: -30px;
    transition: 0.4s;
    background: #a76000;
    border-radius: 1px;
    border: none;
}

.best-offers-slider .slick-prev:hover, .best-offers-slider .slick-next:hover {
    background: #FE980F;
    transition: 0.4s;
}

.slick-prev:before, .slick-next:before {
    display: none;
}

.best-offers-slider .slick-prev:after, .best-offers-slider .slick-next:after {
    content: "";
    position: absolute;
    border: 2px solid #ffffff;
    width: 14px;
    height: 14px;
}

.best-offers-slider .slick-prev:after {
    border-top: 2px transparent;
    border-left: 2px transparent;
    transform: rotate(135deg);
    top: 10px;
    left: 13px;
}

.best-offers-slider .slick-next:after {
    border-right: 2px transparent;
    border-bottom: 2px transparent;
    transform: rotate(135deg);
    top: 10px;
    left: 7px;
}










.best-offers-slidered .slick-next {
    right: 15px;
}

.best-offers-slidered .slick-prev {
    left: auto;
    right: 60px;
}

.best-offers-slidered .slick-prev, .best-offers-slidered .slick-next {
    width: 35px;
    height: 35px;
    top: -30px;
    transition: 0.4s;
    background: #a76000;
    border-radius: 1px;
    border: none;
}

.best-offers-slidered .slick-prev:hover, .best-offers-slidered .slick-next:hover {
    background: #FE980F;
    transition: 0.4s;
}

.slick-prev:before, .slick-next:before {
    display: none;
}

.best-offers-slidered .slick-prev:after, .best-offers-slidered .slick-next:after {
    content: "";
    position: absolute;
    border: 2px solid #ffffff;
    width: 14px;
    height: 14px;
}

.best-offers-slidered .slick-prev:after {
    border-top: 2px transparent;
    border-left: 2px transparent;
    transform: rotate(135deg);
    top: 10px;
    left: 13px;
}

.best-offers-slidered .slick-next:after {
    border-right: 2px transparent;
    border-bottom: 2px transparent;
    transform: rotate(135deg);
    top: 10px;
    left: 7px;
}

.estate-passport-slid {
    margin: 20px 0;
}

.estate-passport-fon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 25px;
    position: relative;
}

.estate-passport-fon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.estate-passport-block {
    padding-top: 90px;
    padding-bottom: 110px;
    position: relative;
    z-index: 999;
}

.estate-passport-title h2 {
    font-weight: bold;
    font: 35px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #FFFFFF;
    line-height: 1.4;
    font-weight: 700;

}

.estate-passport-title p {
    margin-top: 40px;
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #FFFFFF;
    line-height: 1.4;
}

.estate-passport-slid .slick-dots {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    background: #FFFFFF;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    width: 11px;
    height: 11px;
}

.estate-passport-slid .slick-dots li.slick-active button {
    background-color: #FE980F;
    color: #FE980F;
}

.estate-passport-slid .slick-dots li button {

    width: 11px;
    height: 11px;
    background-color: #101F3D;
}


.about-our-company {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 30px 0;
    padding: 34px 46px;
}

.about-our-company__block {
    background: #FFFFFF;
    padding: 25px 20px;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);
    max-width: 657px;
    width: 100%;

}

.about-our-company__text h2 {
    color: #042a3d;
    font: 31px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    line-height: 1.3;

}

.about-our-company__text p {
    margin-top: 20px;
    color: #a76000;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    line-height: 1.4;
}

.about-our-company__href {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.about-our-company__href a {
    background: #042a3d;
    padding: 7px 15px;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #ffffff;
    transition: 0.4s;
}

.about-our-company__href a:hover {
    transition: 0.4s;

    background: #ffffff;
    color: #042a3d;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);

}

.about-our-company__logo {
    max-width: 346px;
    width: 100%;
}


.download-attachment {
    margin: 50px 0
}

.download-attachment__title h2 {
    font: 30px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #042a3d;
    line-height: 1.4;
}

.download-attachment__title p {
    margin: 44px 0;
    color: #61727D;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    line-height: 1.6;
}

.download-attachment__href {
    margin: 30px 0;
}

.download-attachment__href a {
    max-width: 194px;
    width: 100%;
}

.download-attachment__href a + a {
    margin-left: 12px;
}

.mobile-app__img {
    max-width: 370px;
    width: 100%;
}

.news-tips-articles h2 {
    font: 31px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    color: #FE980F;
    line-height: 1.3;
}

.tips-articles__block {
    margin: 20px -15px;
}

.tips-articles__box {
    width: 33.333333%;
    padding: 15px;
}

.tips-articles__info {
    width: 100%;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);
    background: #ffffff;
}

.tips-articles__img {
    width: 100%;
}

.tips-articles__img img {
    width: 100%;
}

.tips-articles__text {
    padding: 22px 15px 0
}

.tips-articles__text a {
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    min-height: 50px;
    color: #001935;
}

.tips-articles__text p {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #61727D;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tips-articles__href {
    margin-top: 5px;
    border-top: 1px solid #EEEEEE;
    padding: 15px 14px;
}

.tips-articles__href p {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #61727D;
    line-height: 1.3;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.tips-articles__href p img {
    margin-right: 5px;
}

.tips-articles__href a {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #cc8202;
    line-height: 1.3;
    font-weight: 700;

}

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 7px;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* Offset direction
 */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    position: absolute;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 4px !important;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}

.noUi-handle:hover {
    cursor: pointer;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -8px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #FE980F;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    margin: 0 9px;
}

.noUi-connects {
    border-radius: 3px;
}

.noUi-connect {
    background: #3FB8AF;
}

/* Handles and cursors;
 */
.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle {
    border: 1px solid #FE980F;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */

.noUi-handle:after {
    left: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

/* Values;
 *
 */
.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

/* Markings;
 *
 */
.empty_result {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    /* font-size: 34px; */
    color: #FE980F;
    font: 26px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

.noUi-marker {
    position: absolute;
    background: #CCC;
}

.added_info_criterions {
    padding: 0 6px;
    border-radius: 21px;
    color: #FE980F;
    margin-right: 10px;
    margin-top: 13px;
    box-shadow: 0px 0px 7px #000000b8;
    display: flex;
    align-items: center;
}

#filters_show {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
    padding-bottom: 10px;
}

.remove_hash:hover {
    cursor: pointer;
}

.remove_hash {
    margin-top: -1px;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
}

.noUi-marker-sub {
    background: #AAA;
}

.noUi-marker-large {
    background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.assortment__info__mob {
    padding: 0 10px;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

.change-range-box .noUi-connect {
    background: #FE980F !important;
}

.change-range-box {
    margin-top: 15px;
}

.change-range__block__inp input {
    text-align: center;
    border: 1px solid #FE980F;
    padding: 6px 0;
    font-size: 19px;
    color: #FE980F;
    width: 100%;
}

.change-range__block__inp {
    width: 49% !important;
    margin-top: 15px;
}

@media (max-width: 1399.98px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 1299.98px) {

    .real-estate-sale__title h1 {
        font-size: 34px;
    }

    .real-estate-sale__block {
        max-width: 827px;
    }

    .real-sale__form {
        padding: 28px 25px;
    }

    .about-our-company {
        padding: 25px 20px;
    }

}

@media (max-width: 1169.98px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .home_service_card_text h2{
        font-size: 16px;
    }
    .real-estate-sale__fon {
        min-height: 490px;
    }

    .real-sale__form {
        padding: 25px 20px;
    }

    .real-estate-sale__block {
        max-width: 709px;
    }

    .real-sale__sel {
        max-width: 290px;
    }

    .real-sale__btn {
        max-width: 173px;
    }

    .real-sale__btn button {
        font-size: 17px;
    }

    .call-us-free h2 {
        font-size: 23px;
    }

    .estate-passport-title h2 {
        font-size: 44px;
    }

    .estate-passport-title p {
        margin-top: 25px;
        font-size: 24px;
    }

    .about-our-company {
        padding: 25px 20px;
        flex-direction: column-reverse;
    }

    .about-our-company__logo {
        margin-bottom: 20px;
    }

    .download-attachment__title h2 {
        font-size: 36px;
    }

    .download-attachment__title p {
        margin: 60px 0;
    }


}

@media (max-width: 991.98px) {
    .call-us-free h2 {
        font-size: 19px;
    }

    .call-us-free {
        margin: 25px 0;
        padding: 19px 17px;
    }

    .best-offers__title h2 {
        font-size: 28px;
    }

    .best-offers__box a {
        font-size: 16px;

    }

    .best-offers__box p {
        font-size: 13px;

    }

    .best-offers__box strong {
        font-size: 16px;
        margin: 15px 0;
    }

    .about-our-company__logo {
        max-width: 300px;
    }

    .about-our-company {
        margin: 0;
    }

    .download-attachment__title h2 {
        font-size: 30px;
    }

    .download-attachment__title p {
        margin: 40px 0;
        line-height: 1.4;
    }

    .download-attachment__href a {
        max-width: 180px;
        width: 100%;
    }

    .tips-articles__block {
        flex-wrap: wrap;
    }

    .tips-articles__box {
        width: 50%;
    }

    .news-tips-articles h2 {
        font-size: 26px;
    }
    .home_service_card{
        width: 50%;
    }

}

@media (max-width: 767.98px) {
    .best-offers__box p > i {
        vertical-align: middle;
    }
    .real-estate-sale__title h1 {
        font-size: 30px;
    }

    .real-estate-sale__block {
        max-width: 440px;
    }

    .real-sale__form {
        flex-wrap: wrap;
    }

    .real-sale__sel {
        max-width: 100%;
    }

    .real-sale__btn {
        max-width: 190px;
        margin-top: 15px;
    }

    .best-offers__box a {
        font-size: 16px;
    }

    .best-offers__box p {
        font-size: 13px;
    }

    .best-offers__box strong {
        margin: 15px 0;
    }

    .best-offers__box {
        padding: 10px 15px;
    }

    .best-offers__heart a {
        width: 55px;
        height: 55px;
    }

    .best-offers__info ul li strong {
        font-size: 15px;
    }

    .best-offers__info ul li {
        font-size: 14px;
    }

    .about-our-company__logo {
        max-width: 270px;
    }

    .about-our-company__text h2 {
        text-align: center;
        font-size: 26px;
    }

    .about-our-company__text p {
        margin-top: 17px;
        line-height: 1.3;
        text-align: center;
    }

    .about-our-company__href {
        justify-content: center;
    }

    .download-attachment {
        margin: 20px 0 30px;
        flex-direction: column;
        align-items: center;
    }

    .mobile-app__img {
        max-width: 298px;
        width: 100%;
    }

    .download-attachment__href {
        margin: 20px 0 30px;
        justify-content: center;
    }

    .download-attachment__title h2 {
        font-size: 26px;
        text-align: center;
    }

    .download-attachment__title p {
        margin: 30px 0;
        line-height: 1.4;
        text-align: center;
        font-size: 15px;
    }

    .tips-articles__box {
        padding: 10px;
    }

    .tips-articles__block {
        margin: 20px -10px;
    }

    .news-tips-articles h2 {
        font-size: 20px;
    }

    .tips-articles__text p {
        font-size: 15px;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

@media (max-width: 649.98px) {
    .tips-articles__box {
        width: 100%;
    }
    .home_service_card{
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .real-estate-sale__title h1 {
        font-size: 22px;
    }

    .real-estate-sale__min {
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .real-sale__btn {
        max-width: 100%;
        margin-top: 10px;
    }

    .real-sale__sel .jq-selectbox__select-text {
        font-size: 17px;
        padding: 16px 15px 16px 10px;
    }

    .real-sale__form {
        padding: 20px 20px;
    }

    .real-sale__sel .jq-selectbox li {
        padding: 10px;
        font-size: 15px;
    }

    .real-estate-sale__block {
        margin: 30px auto 30px;
    }

    .call-us-free {
        padding: 15px 15px;
    }

    .call-us-free h2 {
        font-size: 16px;
        text-align: center;
    }

    .call-us-free__href ul {
        flex-wrap: wrap;
    }

    .call-us-free__href ul li {
        margin-right: 0;
        font-size: 15px;
        text-align: center;
        width: 50%;
        margin-top: 10px;
    }

    .call-us-free__href ul li a {
        font-size: 15px;
        text-align: center;
    }

    .best-offers__title h2 {
        font-size: 20px;
    }

    .best-offers__title p {
        font-size: 16px;
        margin-top: 10px;
    }

    .best-offers-slider .slick-prev, .best-offers-slider .slick-next {
        top: 30px;
    }

    .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .best-offers-slider .slick-next {
        right: 12px;
    }

    .best-offers-slider .slick-prev {
        right: 52px;
        z-index: 9;
    }

    .estate-passport-block {
        padding-top: 60px;
        padding-bottom: 90px;
    }

    .estate-passport-title h2 {
        font-size: 30px;
        text-align: center;
    }

    .estate-passport-title p {
        margin-top: 25px;
        font-size: 20px;
        text-align: center;
    }

    .best-offers {
        margin-top: 0;
    }

    .best-offers-slider {
        margin: 20px -12px 0;
    }

    .estate-passport-slid {
        margin: 0px 0;
    }

    .best-offers__block {
        padding-bottom: 0px;
    }

    .about-our-company__logo {
        max-width: 210px;
    }

    .about-our-company {
        padding: 20px 15px;
    }

    .about-our-company__block {
        padding: 20px 10px;
    }

    .about-our-company__text h2 {
        text-align: center;
        font-size: 21px;
    }

    .about-our-company__text p {
        font-size: 14px;
    }

    .download-attachment__title h2 {
        font-size: 20px;
    }

    .download-attachment__title p {
        margin: 10px 0;
        line-height: 1.3;
        font-size: 15px;
    }

    .mobile-app__img {
        max-width: 226px;
    }

}
