.product-det{
    margin-top: 10px;
}
.product-det__left{
    max-width: 875px;
    width: 100%;
}
/*.items{*/
/*    display: none;*/
/*}*/
.items__min{
    display: none;
}
.product-det__main{
    border-bottom: 1px solid rgba(112,122,122,0.24);
    padding-bottom: 10px;
}
.product-det__title h1{
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #042a3d;
}
.product-det__title p{
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    color: #434141;
    margin: 10px 0;
    position: relative;
    /*padding-left: 25px;*/
}
/*.product-det__title p:before {*/
/*    content: "";*/
/*    background-image: url(../img/Group.png);*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    width: 20px;*/
/*    height: 25px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
.param_table{
    display: flex;
    flex-wrap: wrap;
}
.param_table>div{
    width: 50%;
    min-width: 300px;
}
.product-det__heart a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 2px 3px 4px rgba(0,95,162,0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-det__heart a svg{
    width: 20px;
}
.product-det__price{
    margin: 10px 0;
}
.product-det__price strong{
    color: #FE980F;
    font: 25px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    display: block;
}
.product-det__slid{
    width: 100%;
    margin-bottom: 20px;
}
.for-box__photo{
    width: 100%;
}
.nav-box__photo{
    max-width: 169px;
    width: 100%;
    position: relative;
}
.slider-nav-photo{
    position: relative;
}
.slider-nav-photo:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 100%;
    background: rgba(0,0,0,0.80);
}
.slider-nav-photo:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 100%;
    background: rgba(0,0,0,0.80);
    z-index: 9999;
}
.nav-box__photo:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50);

}
.slider-nav-photo__box + .slider-nav-photo__box{
    margin-right: -3px;
}
.slider-nav-photo .slick-list{
    height: 91.78px;
}
.nav-box__photo:hover:after{
    background: none!important;
}
.slider-nav-photo{
    margin-top: 15px;
}

.slider-nav-photo .slick-prev {
    left: 13px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px  transparent;
    border-bottom: 2px  transparent;
    transform: rotate(-45deg);
}
.slider-nav-photo .slick-next {
    right: 13px;
    border-top: 2px  transparent;
    border-left: 2px  transparent;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
}
.slider-nav-photo .slick-prev, .slider-nav-photo .slick-next {
    top: 45%;
    width: 17px;
    height: 17px;
    z-index: 99999;
}

.features__min{
    box-shadow: 2px 3px 4px rgba(0,95,162,0.16);
    background: #ffffff;
    width: 100%;
    overflow-x: auto;
    padding: 14px;
    margin-top: 20px;
}
.features__min h2{
    color: #042a3d;
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}
.features__min p{
    margin-top: 20px;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.4;
    color: #71858E;
}
.features__min__info{
    margin-top: 20px;
}
.best-offers__info  tr{
cursor: pointer!important;
}
.features__min__info ul{
    display: flex;
    align-items: center;
}
.features__min__info ul li{
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    color: #484747;
    display: flex;
    align-items: center;
}
.features__min__info ul li + li{
    margin-left: 25px;
}
.features__min__info ul li strong{
    font-weight: bold;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    color: #222222;
}
.features-form__data{
    margin-top: 20px;
}

.features-form__inp{
    max-width: 224px;
    width: 100%;
    margin-right: 15px;
    margin-top: 20px;
}

.features-form__inp label{
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #969696;
    /*line-height: 1.3;*/
    display: block;
}
.features-form__inp input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid rgba(213,207,207,0.59);
    /*padding-left: 15px;*/
    color: #686868;
    font-weight: 700;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
}
.features-form__inp input::placeholder{
    overflow: visible!important;
}

.features-form .contact-us__btn{
    margin-top: 20px;
}
.features-form .contact-us__btn button{
    width: 140px;
    height: 37px;
    background: #FE980F;
    color: white;
    font-size: 17px;
}
.features__img{
    margin-top: 20px;
    width: 100%;
    height: 500px;
}
.features__map{
    margin-top: 20px;
    height: 445px;
}


.product-det__right{
    max-width: 359px;
    width: 100%;
    margin-top: 40px;
}
.product-det__right__title h2{
    color: #222222;
    font: 24px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}
.product-det__right__box .best-offers__box a{
    font-size: 19px;
}
.product-det__right__box .best-offers__box p{
    font-size: 15px;
}
.product-det__right__box .best-offers__block {
    /*border-bottom: 10px solid #B6BECB;*/
    padding: 0;
}
.product-det__right__box .best-offers__block + .best-offers__block{
    margin-top: 15px;
}
.product-det-offers{
    border-top: 1px solid rgba(112,112,112,0.11);
    margin-top: 20px;
    padding-top: 10px;
}
.product-det-offers strong{
    margin: 0;
}



@media (max-width: 1399px){
    .product-det__left {
        max-width: 825px;
    }
    .product-det__title h1 {
        /*font-size: 22px;*/
    }
    .product-det__right {
        max-width: 340px;
    }
    .nav-box__photo {
        max-width: 157px;
    }
    .nav-box__photo img{
        /*height: 100%;*/
    }
}
@media (max-width: 1299px){
    .product-det__min{
        flex-direction: column;
        align-items: center;
    }
    .product-det__title h1 {
        font-size: 26px;
    }
    .product-det__right{
        max-width: 825px;
    }
    .product-det__right__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-det__right__box .best-offers__block{
        width: 49%;
        margin-bottom: 20px;
    }
    .product-det__right__box .best-offers__block + .best-offers__block {
        margin-top: 0;
    }

}

@media (max-width: 991.98px){
    .nav-box__photo {
        max-width: 170px;
    }
    .product-det__title h3{
        font-size: 23px;
    }
    .product-det__title p {
        font-size: 15px;
    }
    .product-det__title h1 {
        font-size: 22px;
    }
    .product-det__price strong {
        font-size: 22px;
    }
    .features__min h2{
        font-size: 23px;

    }
    .features__min p {
        font-size: 15px;
    }
}
@media (max-width: 767.98px){
    .features__map {
        height: 350px;
    }
    .product-det__right__box .best-offers__box a {
        font-size: 17px;
    }
    .product-det__title h1 {
        font-size: 18px;
    }
    .product-det__right__title h2 {
        font-size: 22px;
    }
    .features-form__inp{
        margin-top: 15px;
    }
    .features-form__data {
        margin-top: 10px;
    }
    .features__min__info ul li + li {
        margin-left: 13px;
    }
    .features__img{
        height: 400px;
    }
    .param_table>div {
width: 100%;
    }
}

@media (max-width: 575.98px){
    .nav-box__photo {
        max-width: 95%;
    }
    .product-det__title h1 {
        font-size: 16px;
    }
    .product-det {
        margin-top: 35px;
    }
    .product-det__title h3 {
        font-size: 18px;
    }
    .product-det__title p {
        font-size: 14px;
    }
    .product-det__price strong {
        font-size: 20px;
    }
    .features__min {
        padding: 14px 13px;
        margin-top: 15px;
    }
    .features__min h2 {
        font-size: 20px;
        /*text-align: center;*/
    }
    .features__min p {
        font-size: 15px;
        /*text-align: center;*/
        line-height: 1.3;
    }
    .features__min__info{
        margin-bottom: 15px;
    }
    .features__min__info ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .features-form__inp {
        max-width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    .product-det__right__box .best-offers__block {
        width: 100%;
        margin-bottom: 20px;
    }
    .product-det__right__title h2 {
        font-size: 21px;
    }
    .footer-title {
        margin-bottom: 10px;
    }
      .features__img{
        height: 300px;
    }

}
