.product-list {
    /*margin-top: 50px;*/
}

.product-list__min {
    margin-top: 15px;
}

.product-list__left {
    max-width: 916px;
    width: 100%;
}

.sale-apartment__min {
    padding: 5px 0;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.popup-request__min button {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.09);
}

.popup-request__min button svg path {
    fill: #FE980F;
}

.sale-apartment__sel p {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #3A4659;
    line-height: 1.3;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.sale-apartment__select {
    width: 140px;
}

.sale-apartment__select select {
    width: 100%;
}

.sale-apartment__select .jq-selectbox {
    width: 100%;
    position: relative;
}

.sale-apartment__select .jq-selectbox:after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #FE980F;
    border-left: 1px solid #FE980F;
    transform: rotate(-135deg);
    position: absolute;
    top: 5px;
    right: 0;
}

.sale-apartment__select .jq-selectbox li {
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #222222;
    font-weight: 700;


}

.sale-apartment__select .jq-selectbox li.selected {
    color: #ffffff;
}

.sale-apartment__select .jq-selectbox__select-text {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #FE980F;
    font-weight: 700;
}

.reviews-min-text-hrefs {
    margin: 0 10px
}

.sale-apartment__line {
    width: 27px;
    height: 20px;
    cursor: pointer;

}

.sale-apartment__line span {
    width: 100%;
    height: 4px;
    display: block;
    background-color: #8593A9;


}

.active-href .sale-apartment__line span {
    background-color: #FE980F;
}

.active-href .sale-apartment__box span {
    background-color: #FE980F;

}

.sale-apartment__line span + span {
    margin-top: 4px;
}

.sale-apartment__box {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.sale-apartment__box span {
    width: 6px;
    height: 6px;
    display: block;
    margin: 1px;
    background-color: #8593A9;
}

.sale-apartment__info {
    margin-top: 5px;
}

.apartment-info__cnt {
    width: 100%;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);
    background: #ffffff;
}

.sale-apartment__info > div + div {
    margin-top: 20px;
}

.apartment-info__img {
    max-width: 308px;
    width: 100%;
    position: relative;
}

.apartment-info__box {
    padding: 17px;
    width: 100%;
}

.apartment-info__title a {
    font: 15px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 38px;
    color: #042a3d;
}

.apartment-info__title p {
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #434141;
    line-height: 1.3;
    margin-top: 10px;
    position: relative;
}
.apartment-info__title i{
    color: #cc8200;
    font-size: 16px;
    vertical-align: bottom;
}
.apartment-info__room .best-offers__heart a {
    width: 50px;
    height: 50px;
}

.apartment-info__price {
    margin: 10px 0;
}

.apartment-info__price strong {
    color: #FE980F;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    display: block;
    /*margin: 12px 0;*/
}

.apartment-info__text {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
}

.apartment-info__text ul li {
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #969696;
    font-weight: 700;
    line-height: 1.3;

}

.apartment-info__text ul li + li {
    margin-right: 10px;
}

.apartment-info__text ul li strong {
    color: #484747;

}

.real-estate-profile {
    margin: 15px 0;
}

.estate-profile__fon {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 50px;

}

.estate-profile__fon strong {
    font: 33px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.3;
    color: #ffffff;
}

.estate-profile__fon p {
    margin-top: 15px;
    font: 23px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.3;
}

.download-more {
    margin: 30px auto;
    max-width: 274px;
    width: 100%;
}

.download-more button img {
    margin-right: 10px;
}

.download-more button {
    width: 100%;
    height: 54px;
    background: #FE980F;
    font-weight: 500;
    font: 21px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-offers__block {
    margin: 0 -10px;
}

.about-offers__box {
    width: 33.333333%;
    padding: 10px;
}

.about-offers__box .best-offers__block a {
    font-size: 18px;
}

.about-offers__box .best-offers__block p {
    font-size: 14px;
}

/*.about-offers__box .best-offers__box strong {*/
/*    font-size: 30px;*/
/*}*/

.about-offers__box .best-offers__info ul li {
    font-size: 12px;
}

.about-offers__box .best-offers__info ul li strong {
    font-size: 13px;
}

.about-offers__box .best-offers__heart a {
    width: 46px;
    height: 46px;
}


.product-list__right {
    max-width: 347px;
    width: 100%;
}

.product-list__rent {
    width: 100%;
}

.product-active-href .product-rent__text {
    background: #FE980F;

}

.product-active-href .product-rent__text p {
    color: #ffffff;

}

.product-reviews-min-info {
    background: #ffffff;
    box-shadow: 2px 3px 4px rgba(0, 95, 162, 0.16);

}

.product-list__rent .product-click-reviews {
    width: 50%;
}

.product-rent__text {
    max-width: 173px;
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cdc9c9;
    cursor: pointer;

}

.product-rent__text p {
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
}

.product-rent__min {
    padding-top: 15px;
    width: 100%;
}

.product-rent__info + .product-rent__info {
    margin-top: 4px;
}

.product-rent__info {
    /*width: 100%;*/
    padding: 0 10px;
}

.product-rent__info select {
    width: 100%;
}

.product-rent__info .jq-selectbox__select-text {
    color: #565656;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
}

.product-rent__info .jq-selectbox {
    width: 100%;
    border: 1px solid #E6E5E5;
    position: relative;
}

.product-rent__info .jq-selectbox__select {
    height: 44px;
    padding: 14px 12px;


}

.product-rent__info .jq-selectbox:after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #8593A9;
    border-left: 1px solid #8593A9;
    transform: rotate(-135deg);
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-rent__info .jq-selectbox__dropdown {
    top: 38px;
    left: 0;
}

.product-rent__info .jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
    border-radius: 4px;
}

.product-rent__info .jq-selectbox li {
    padding: 7px 20px 7px;
    color: #565656;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
}

.surface-area__min .product-rent__info {
    max-width: 49%;
    margin-top: 4px;
}

.product-rent__info p {
    color: #565656;
    font: 13px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 20px;
}

.filter-the-assortment__checked {
    margin-top: 7px;
}

.filter-the-assortment__checked label {
    display: flex;
    align-items: center;
}

.filter-the-assortment__checked label input {
    display: none;
}

.filter-the-assortment__checked label span {
    height: 24px;
    width: 22px;
    border: 1px solid #ACA9A9;
    display: inline-block;
    position: relative;
}

.filter-the-assortment__checked [type=checkbox]:checked + span:before {
    position: absolute;
    content: '';
    border: 2px solid #FE980F;
    border-left: none;
    border-bottom: none;
    width: 13px;
    height: 7px;
    transform: rotate(127deg);
    left: 3px;
    top: 3px;
}

.surface-area__btn {
    display: flex;
    justify-content: flex-end;
    margin: 0 11px;
    margin-top: 10px;
}

.surface-area__btn button {
    width: 100%;
    font-weight: 700 !important;
    height: 49px;
    font: 17px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica", "Roboto", sans-serif;
    border: 2px solid #FE980F;
    max-width: 150px;
    transition: .3s;
    background: #FE980F;
    color: white;

}

.surface-area__btn button:hover {
    transition: .3s;
    color: #FE980F;
    background: #ffffff;

}


.favorites__list {
    margin-top: 50px;
}

.favorites__block {
    margin-top: 20px;
}

.favorites__block .about-offers__box {
    width: 25%;
}


/*======== -Modal-start- ==========*/

.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}

@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}

.modal-content {
    padding: 35px 15px 30px 15px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    visibility: visible;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.close {
    position: absolute;
    width: 22px;
    height: 22px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 30px;
    right: 15px;
    cursor: pointer;
}

.close::before,
.close::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.close::before {
    width: 23px;
    height: 2px;
}

.close::after {
    width: 2px;
    height: 23px;
}


@media (max-width: 1399px) {
    .product-list__left {
        max-width: 870px;
        width: 100%;
    }

    .product-list__right {
        max-width: 315px;
        width: 100%;
    }
}

@media (max-width: 1299.98px) {
    .product-list {
        max-width: 920px;
        margin: 40px auto 0;
    }

    .product-list__min {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .popup-request__min {
        display: block;
        width: 40px;
        position: fixed;
        z-index: 99;
    }

    .product-list__right {
        display: none;
    }

    .product-list__right .product-list__rent {
        display: none;
    }

    .product-list__right {
        max-width: 920px;
        width: 100%;
    }

    .product-list__rent {
        max-width: 600px;
        width: 100%;
    }

    .product-rent__text {
        max-width: 100%;
    }
}

@media (max-width: 1169.98px) {
    .favorites__block .about-offers__box {
        width: 33.333333%;
    }
}


@media (max-width: 991.98px) {
    .apartment-info__box {
        padding: 10px;
        width: 100%;
    }

    .apartment-info__text ul li {
        font-size: 15px;
    }

    .apartment-info__text ul li + li {
        margin-left: 5px;
    }

    .apartment-info__title a {
        font-size: 21px;
    }

    .apartment-info__title p {
        font-size: 16px;
        margin-top: 5px;
    }

    .apartment-info__price strong {
        font-size: 29px;
    }

    .estate-profile__fon strong {
        font-size: 29px;

    }

    .estate-profile__fon p {
        font-size: 21px;
    }

    .about-offers__box {
        width: 50%;
        padding: 10px;
    }


    .favorites__block .about-offers__box {
        width: 50%;
    }

}

@media (max-width: 767.98px) {

    .apartment-info__text ul {
        flex-wrap: wrap;
    }

    .apartment-info__title a {
        font-size: 17px;
    }

    .apartment-info__price strong {
        font-size: 25px;
    }

    .estate-profile__fon {
        background-position: center;
        padding: 20px 30px 30px;
    }

    .estate-profile__fon strong {
        font-size: 26px;
    }

    .estate-profile__fon p {
        font-size: 17px;
    }

    .apartment-info__text {
        padding-top: 5px;
    }

    .apartment-info__price {
        margin: 5px 0;
    }

    .about-offers__box {
        padding: 5px;
    }

    .about-offers__block {
        margin: 0 -5px;
    }

    .sale-apartment__info {
        margin-top: 20px;
    }

    .urgently {
        top: 8px;
        right: 8px;
        font-size: 16px;
        padding: 5px 6px;
    }

}
@media (max-width: 1300px) {
    .popup-request-call__info{
        width: 100% !important;
        max-width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1090px) {
    .product-rent__info {
        width: 33.333333333%!important;
    }
}
@media (max-width: 905px) {
    .verticalCard .items{
        width: 50% !important;
    }
    .best-offers__img img{
        height: 100%;
        object-fit: cover;
    }
    .apartment-info__img{
        max-width: unset;
    }
}
@media (max-width: 824px) {
    .product-rent__info {
        width: 50%!important;
    }
}
@media (max-width: 756px) {
    .reviews-min-text-hrefs{
        display: none !important;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: -50000000px;
        overflow: hidden;
        visibility: hidden;
    }
}
@media (max-width: 610px) {
    .verticalCard .items{
        width: 100% !important;
    }
    .best-offers__img img{
        height: 100%;
        object-fit: cover;
    }
    .apartment-info__img{
        max-width: unset;
    }
}
@media (max-width: 575.98px) {
    .close {
        top: 10px;
    }

    .product-rent__info {
        padding: 0 8px;
        width: 100%!important;
    }

    .sale-apartment__sel p {
        display: none;
    }

    .apartment-info__cnt {
        flex-direction: column;
    }

    .estate-profile__fon strong {
        font-size: 19px;
    }

    .estate-profile__fon {
        padding: 20px 13px 30px;
    }

    .estate-profile__fon p {
        font-size: 15px;
    }

    .product-rent__info .jq-selectbox__select {
        height: 42px;
        padding: 13px 8px;
    }

    .product-rent__info .jq-selectbox:after {

        right: 10px;
    }

    .download-more button {
        height: 52px;
        font-size: 17px;
    }

    .about-offers__box {
        width: 100%;
    }

    .favorites__block .about-offers__box {
        width: 100%;
    }
}
