.services-block-fon{
    margin-top: 30px;
}
.services-bg{
    width: 100%;
    /*height: 368px;*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-our-company__title{
    margin-top: 35px;
    margin-bottom: 35px;
}
.about-our-company__title h2{
    font-weight: 700;
    font: 30px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    line-height: 1.3;
    color: #222222;
    text-align: left;

}
.about-our-company__title p{
    margin-top: 20px;
    color: #61727D;
    line-height: 1.4;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    text-align: left;

}
.name-of-services{
    width: 100%;
    box-shadow: 2px 3px 4px rgba(0,95,162,0.16);
    background: #ffffff;
    margin-top: 20px;
    padding: 30px 30px;
    margin-bottom: 20px;
}
.name-of-services__title{
    box-shadow: 2px 3px 4px rgba(0,95,162,0.16);
    border-radius: 100px;
    padding: 5px 15px 5px 5px;
    width: max-content;
}
.name-of-services__key{
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: #FE980F;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.name-of-services__title strong{
    margin-left: 15px;
    font: 22px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #717171;
}
.name-of-services p{
    margin-top: 20px;
    font: 16px "Segoe UI", "HelveticaNeueCyr-Bold", "Helvetica","Roboto", sans-serif;
    color: #61727D;
    line-height: 1.4;
}
.name-services__gallery{
    margin: 20px -5px 20px;
}
.name-services__img{
    width: 20%;
    padding: 5px;
    text-align: center;
}
.name-services__gallery .slick-prev, .name-services__gallery .slick-next {
    width: 35px;
    height: 35px;
    transition: 0.4s;
    background: #B8C0CB;
    border-radius: 1px;
    border: none;
    z-index: 999;
}
.name-services__gallery  .slick-prev {
    left: -10px;
}
.name-services__gallery .slick-next {
    right: -10px;
}
.name-services__gallery .slick-prev:hover, .name-services__gallery .slick-next:hover {
    background: #FE980F;
    transition: 0.4s;
}
.name-services__gallery .slick-prev:after {
    border-top: 2px transparent!important;
    border-left: 2px transparent!important;
    transform: rotate(135deg);
    top: 10px;
    left: 13px;
}
.name-services__gallery .slick-next:after {
    border-right: 2px transparent!important;
    border-bottom: 2px transparent!important;
    transform: rotate(135deg);
    top: 10px;
    left: 7px;
}
.name-services__gallery  .slick-prev:after, .name-services__gallery .slick-next:after {
    content: "";
    position: absolute;
    border: 2px solid #ffffff;
    width: 14px;
    height: 14px;
}

@media (max-width: 1169.98px){
    .about-our-company__title {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .about-our-company__title h2{
        font-size: 27px;
    }
    .about-our-company__title p{
        margin-top: 15px;
        line-height: 1.3;
    }
    .name-of-services__title strong{
        font-size: 20px;
    }
}
@media (max-width: 991.98px){
    .services-bg {
        /*height: 325px;*/
    }
    .about-our-company__title p {
        font-size: 15px;
    }
    .name-of-services {
        margin-top: 15px;
        padding: 20px 20px;
        margin-bottom: 15px;
    }


}
@media (max-width: 767.98px){
    .services-bg {
        /*height: 305px;*/
    }
    .services-bg img{
        /*width: 200px;*/
    }
    .about-our-company__title h2 {
        font-size: 24px;
        text-align: center;
    }
    .about-our-company__title p {
        /*text-align: center;*/
        line-height: 1.2;
    }
    .name-of-services__title {
        padding: 5px 10px 5px 5px;
        margin: 0 auto;
    }
    .name-of-services__key {
        width: 56px;
        height: 56px;
    }
    .name-of-services p {
        font-size: 15px;
        line-height: 1.3;
        text-align: center;
    }



}

@media (max-width: 575.98px){
    .services-bg {
        /*height: 280px;*/
        background-position: center;
    }
    .services-bg img {
        /*width: 170px;*/
    }
    .about-our-company__title h2 {
        font-size: 20px;
        text-align: center;
    }
    .name-of-services {
        margin-top: 15px;
        padding: 20px 10px 0px;
        margin-bottom: 0px;
    }
    .name-of-services__title {
        padding: 10px;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
        max-width: 350px;

    }
    .name-of-services__title strong {
        font-size: 15px;
        margin-left: 0;
        text-align: center;
        display: block;
    }
    .name-of-services p {
        font-size: 14px;
        line-height: 1.2;

    }

    .about-our-company__title p {
        font-size: 14px;
    }
    .name-of-services__key{
        width: 35px;
        height: 35px;
        padding: 0;
        margin-right: 10px;
    }


}
