
.jpreview-image {
	width                   : 100px;
	height                  : 100px;
	margin: 10px;
	position                : relative;
	float                   : left;
	background-repeat       : no-repeat;
	background-position     : center center;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}
.jpreview-container::after {
	content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}
.jpreview-container{
    display: flex;
}
.jpreview-image img {
	max-width: 100%;
	max-height: 100%
}
.jpreview-remove-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: red;
	width: 10px;
	height: 10px;
}
.image_container{
    position: absolute;
    height: 100%;
    width: 100%;
    /*opacity: .5;*/
}
.input-append{
    height: 100%;
    box-shadow: 0 0 2px 2px lightgray;
    background: white;
}
.input-large{
    display: none;
}
.input-append button{
    height: 100%;
    width: 100%;
    color: gray;
    font-size: 35px;
    border: unset;
    background: transparent;
    outline: none!important;
    cursor: pointer;
}
